[submodule "caf"]
	path = _caf
	url = https://github.com/azag0/caf.git
[submodule "vdwsets"]
	path = _vdwsets
	url = https://github.com/azag0/vdwsets.git
[submodule "pymbd"]
	path = _pymbd
	url = ./_pymbd
[submodule "pyatsol"]
	path = _pyatsol
	url = ./_pyatsol
