[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"1e60966" = {path = "_caf", editable = true}
numpy = "*"
pandas = "*"
"31b22f4" = {path = "_vdwsets", editable = true}
"e1839a8" = {path = ".", editable = true}


[dev-packages]

cffi = "*"
"5016490" = {path = "/Users/hermann/Code/pymbd", editable = true}
scipy = "*"
tqdm = "*"
matplotlib = "*"
mypy = "*"
ipykernel = "*"
lxml = "*"
tables = "*"
"flake8" = "*"
"jinja2" = "*"
pyyaml = "*"
