[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

caf = {path = "./_caf", editable = true}
numpy = "*"
pandas = "*"
vdwsets = {path = "./_vdwsets", editable = true}
mbdvv = {path = ".", editable = true}
tables = "*"
pymbd = {git = "https://github.com/azag0/pymbd.git", editable = true, ref = "e02a56e50c911745f630487ac788435f0b1daa11"}


[dev-packages]

cffi = "*"
scipy = "*"
tqdm = "*"
matplotlib = "*"
mypy = "*"
ipykernel = "*"
lxml = "*"
"flake8" = "*"
"jinja2" = "*"
pyyaml = "*"
seaborn = "*"
